@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Lexend:wght@300;500&family=Rubik:wght@400;500&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}


main{
    background: #43cea2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
:root{
    --bg-primario:#FFC436;
    --bg-secundario:rgba(0, 0, 0, 0.349);
    --text-color:#F7F7E8;
    --text-colorSecundario:#EEEEEE;
}
